<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%for(const i in result){%>
        <p><b><%=i%> : </b> <%=result[i]%></p>
    <%}%>
  </body>
</html>
